.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  z-index: 20;

  @media screen and (max-width: $bp-small) {
    height: 500vh;
  }

  &__content {
    background-color: $color-primary-light;
    border: 3px solid $color-text-dark;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 35rem;

    @media screen and (max-width: $bp-small) {
      margin-top: 100%;
    }

    &__info {
      &__heading {
        font-size: 2rem;
        font-weight: 500;
        color: $color-text-dark;
        text-align: center;

        &::selection {
          background-color: rgba($color-primary, 0.5);
          color: #fff;
        }

        &:not(:first-child) {
          margin-top: 2rem;
        }
      }

      &__text {
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-text-dark;
        text-align: center;
        margin-top: 1rem;

        &::selection {
          background-color: rgba($color-primary, 0.5);
          color: #fff;
        }
      }
    }

    &__logo {
      width: 32.5%;
      height: 32.5%;
      opacity: 0.5;
    }
  }
}
